
 apt-get install libapache2-mod-php
 apt-get install libapache2-mod-php7.2
 apt-get install libapache2-mod-apcu

 apt-get install php-intl
 apt-get install php-pdo php-mysqli
 apt-get install php7.2-mysqli php7.2-pdo

a2enmod rewrite
a2enmod php
a2enmod php7.2

